[submodule "Vendor/spdlog"]
	path = Vendor/spdlog
	url = https://github.com/ThatTanishqTak/spdlog.git
[submodule "Vendor/SDL"]
	path = Vendor/SDL
	url = https://github.com/ThatTanishqTak/SDL.git
[submodule "Vendor/volk"]
	path = Vendor/volk
	url = https://github.com/ThatTanishqTak/volk.git
[submodule "Vendor/VulkanMemoryAllocator"]
	path = Vendor/VulkanMemoryAllocator
	url = https://github.com/ThatTanishqTak/VulkanMemoryAllocator.git
[submodule "Vendor/glm"]
	path = Vendor/glm
	url = https://github.com/ThatTanishqTak/glm.git
[submodule "Vendor/json"]
	path = Vendor/json
	url = https://github.com/ThatTanishqTak/json.git
[submodule "Vendor/imgui"]
	path = Vendor/imgui
	url = https://github.com/ThatTanishqTak/imgui.git
[submodule "Vendor/ImGuizmo"]
	path = Vendor/ImGuizmo
	url = https://github.com/ThatTanishqTak/ImGuizmo.git
